---
layout: default
---

{% include section/welcome.html %}
 
<!-- Row Information -->
<section class="information__container">
  <div class="container-xxl">
    <div class="row pt-60 pl-md-30 pr-md-30">
      <div class="col-md-6 col-sm-12">
        <a href="#" target="_blank" class="d-block">
          <img src="./assets/files/dual-instruments.jpg" alt="Image" title="Image" class="cmp-image__landscape">
        </a>
      </div>

      <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-between information__something">
        <h2 class="mt-md-20">Something About Me</h2>
        <p>
          I am Rap and have been playing the Guitar since 2007 and the Violin since 2017. I'm in a decent level of
          proficiency in
          my music, and I'm still progressing my skills until now.
          I love Country, Punk and Rock N Roll music and an avid Green Day fan.
          <br><br>
          I am an expressive musician and loves to share my musical knowledge to people who are eager to learn as
          me. I
        </p>
        <a href="#" target="_blank" class="btn cbtn-accent mt-sm-3">Read More</a>
      </div>
    </div>
  </div>

  <div class="container-xxl mt-40" id="infoSkills">
    <div class="row pl-md-20 pr-md-20 pb-60 pb-sm-20">
      <div class="col-md-6 col-sm-12 information__cmp mt-5">
        <div class="information__skill-heading text-center">
          <i class="fas fa-guitar hex-tertiary"></i>
          <h3 class="hex-tertiary d-inline">A Leader of The Band</h3>
        </div>
        <a href="#" target="_blank" class="mt-4 d-block">
          <img src="./assets/files/leader.jpg" alt="Image" title="Image" class="cmp-image__tube">
        </a>
        <p class="mt-4 information__blurb">
          I currently lead a band called Folk Ridge which specializes on Country, Folk and Rock n Roll music. It
          was a rough start but I managed to get the group established and find common people. I have a vision to
          make the genres great again and introduce it to younglings and re-live the music into the oldies.
        </p>
        <a href="#" target="_blank" class="btn cbtn-tertiary">View Site</a>
      </div>

      <div class="col-md-6 col-sm-12 information__cmp mt-5">
        <div class="information__skill-heading text-center">
          <i class="fas fa-user-friends hex-tertiary"></i>
          <h3 class="hex-tertiary d-inline">An encouraging teacher</h3>
        </div>
        <a href="#" target="_blank" class="mt-4 d-block">
          <img src="./assets/files/teacher.jpg" alt="Image" title="Image" class="cmp-image__tube">
        </a>
        <p class="mt-4 information__blurb">
          As much as I love to express my music, I also have a passion to teach people the ways of
          a musician. Making sure they are well equipped with the right musical information.
          <br><br>
          We all get demotivated very easily and overwhelmed with the loads of information YouTube and Google is
          providing us,
          that is why I am here to help.
        </p>
        <a href="#" target="_blank" class="btn cbtn-tertiary">Inquire</a>
      </div>
    </div>
  </div>
</section>

<!-- Row Updates -->
<section class="updates__container">
  <!-- Latest Posts -->
  {% include templates/latest-posts.html %}

  <!-- Upcoming Events -->
  <!-- {% include templates/upcoming-events.html %} -->


  <!-- Row Contact Form -->
  {% include templates/contact-form.html %}
</section>