---
layout: default
---

<div class="bio-mapper" id="bioMapper">
  <ul class="bio-mapper__list">
    <!-- Loop for Navigation -->
    {% for bio in site.data.bio.bio-sections %}
    <li class="bio-mapper__item {% if forloop.index == 1 %}bio-mapper__item--active {% endif %}" id="{{bio.section.id}}">
      <a href="#" target="_blank" class="bio-mapper__link">{{bio.section.icon}}</a>
    </li>
    {% endfor %}

  </ul>
</div>

<div class="container-fluid g-0"
  style="background: url({{site.data.bio.banner.banner-image}}) center center no-repeat;">
  <div class="hero-banner d-flex justify-content-center align-items-center">
    <h1 class="hero-banner__title hex-tertiary">{{site.data.bio.banner.tagline}}</h1>
  </div>
</div>

{% include blocks/bio-sections.html %}


