.blog-card{
  width:305px;
  max-width: 100%;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
  border-radius: 16px;
  margin-top:20px;
  margin-bottom:20px;

  @media only screen and (max-width:1200px){
    width:260px;
  }

  @media only screen and (max-width:990px){
    width:305px;
  }

  @media only screen and (max-width:768px){
    width:240px;
  }

  @media only screen and (max-width:576px){
    width:305px;
  }
  

  .blog-card__image{
    width:100%;
    height:108px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .blog-card__content{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    min-height:264px;
    padding:20px;
  }

  .blog-card__desc{
    color:var(--white);
  }

  .blog-card__date{
    font-size:14px;
    font-weight:normal;
    margin-bottom:0.25rem !important;
  }

  .blog-card__link{
    font-weight: bold;
  }
}


.blog-items__container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center;

  @media only screen and (max-width:990px){
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width:576px){
    grid-template-columns: 1fr;
  }
}