.promo-card{
  width:560px;
  max-width:88%;
  margin:0 auto;
  max-height:300px;
  
  h4{
    max-width:434px;
    margin:0 auto;
  }

  .btn{
    margin-top:10px;
  }

  .card-body{
     padding:30px 10px !important;
  }
}