@media (min-width: 1400px){
  .blog-container{
    max-width:1140px;
  }
}

.blog-categories__container{
  border-radius: 16px;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
  padding-top:14px;
  padding-bottom:14px;
}

.category-item{
  font-weight:bold;
  padding:2px 15px;
  .category-link{
    color:var(--white);
  }
}

.category-item--active{
  background:var(--accent);
  border-radius: 50px;
}

.category-list{
  width:512px;
  max-width:100%;
}

.custom-search{
    border-radius: 16px;
    box-sizing: border-box;
    border: none;
    padding: 8px 30px 8px 20px;
    width: 88%;
    color: var(--primary);

    &:focus{
     outline: 0;
     box-shadow: 0 0 0 2px transparent, 0 0 0 3px var(--accent);
  }
}

.custom-search__btn{
    border: none;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    right: 34px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-form{
  position:relative;
  width:80%;
}