.post-sidebar{
  padding:30px 20px;
  border-radius: 16px;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);

  @media only screen and (max-width:768px){
    margin-top:30px;
  }
}

.post-title{
  font-size: clamp(1.75rem, 4vw, 3rem) !important;
  margin-top:40px;
  margin-bottom:0;
}

.post-image{
  width:100%;
  height:auto;
  object-fit: cover;
  border-radius:12px; 
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
}

.post-content{
  margin-top:10px;
  line-height: 2rem;
}

.post-authors{
  color:var(--tertiary);

  @media only screen and (max-width:768px){
    &::before{
      content: "\a";
      white-space: pre;
    }
  }
}

.post-category{
  color:var(--white) !important;
}


.post-others{
  @media only screen and (max-width:768px){
    display:flex;
    justify-content: space-around;
  }

  @media only screen and (max-width:520px){
   flex-direction: column;
   align-items: center;
  }
}

.post-search{
    border-radius: 16px;
    box-sizing: border-box;
    border: none;
    padding: 8px 44px 8px 12px;
    width: 100%;
    color: var(--primary);

    @media only screen and (max-width: 768px){
      width:94%;
    }

    &:focus{
     outline: 0;
     box-shadow: 0 0 0 2px transparent, 0 0 0 3px var(--accent);
  }
}

.post-search__btn{
    border: none;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width:768px){
      right:10px;
    }
}

.post-form{
  position:relative;
  width:100%;
  
}

/* Sidebar */

.sidebar-categories__container{
   @media only screen and (max-width:768px){
      width:30%;
    }

    @media only screen and (max-width:520px){
      
      width:100%;
    }
}

.recent-posts__container{
   @media only screen and (max-width:768px){
      width:50%;
    }

    @media only screen and (max-width:520px){
      
      width:100%;
    }
}




.sidebar-categories__list, .sidebar-posts__list{
 width:96%;
 margin:0 auto;

 
}

.sidebar-category__item, .sidebar-post{
 position:relative;
 padding:12px 0 0 12px;
 line-height:21px;

 &::after{
  content:'';
  width:10px;
  height:10px;
  background:var(--accent) !important;
  border-radius: 50%;
  position:absolute;
  top:17px;
  left:-4px;
 }

 
}

.sidebar-category__link, .sidebar-post__link{
  color:var(--white) !important;

  &:hover{
   text-decoration: underline;
  }
 }

.btn-sidebar{
    margin: 40px auto 10px auto;
    display: block;
}


.post-categories{
  font-size:1.125rem;
  margin-top:20px;
}

.post-category, post-authors{
  
  font-weight:var(--weight-normal);
}
.post-category:not(:last-of-type),
.author:not(:last-of-type){
  &:after{
    content:',';
  }
}

/* Additional Post Content */

.post-content__additional-text{
  margin-top:20px;
  line-height:2rem;
}

.post-content__additional-image{
  margin-top:20px;
  width:100%;
  height:auto;
  object-fit: cover;
  border-radius:12px;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.75);
}

/* Tags */

.sidebar-tags__list{
  padding-left:0;
  display:flex;
  flex-wrap:wrap;

  small{
    padding:6px 4px;

    a{
      &:hover{
        color:var(--tertiary);
      }
    }
  }
}