<div class="container latest-posts__container mt-40">
  <h2 class="hex-white text-center">Latest Posts</h2>
  <div class="row">
    {% for post in site.posts limit:3%}
      <div class="col-md-4">
        <div class="card card-post text-white background-accent mb-3">
          <div class="card-header d-flex justify-content-between">
            <h4 class="hex-tertiary">{{ post.title }}</h4>
            <span class="card-date">
              <p class="card-date__day">{{ post.date | date: "%-d" }}</p>
              <p class="card-date__month">{{ post.date | date: "%b" }}</p>
            </span>
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ post.excerpt }}
            </p>
      
            <a href="{{ post.url }}" target="_blank" class="card-link text-end hex-white text-decoration-underline d-block">Read
              more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{{ site.baseurl }}/blog/" class="btn cbtn-accent d-block text-center mx-auto mt-20">See More</a>
</div>