<div class="container latest-posts__container mt-60">
  <h2 class="hex-white text-center">Upcoming Events</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white background-orange mb-3">
        <div class="card-header d-flex justify-content-between">
          <h4 class="hex-tertiary">This is a Blog Title and a paragraph</h4>
          <span class="card-date">
            <p class="card-date__day">23</p>
            <p class="card-date__month">Jul</p>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">
            All of a sudden cat goes crazy miaow then turn around and show you my bum purr as loud as possible,
            be the most annoying
            cat that you can, and, knock everything off the table freak human out make funny noise.
          </p>

          <a href="#" target="_blank" class="card-link text-end hex-white text-decoration-underline d-block">Read
            more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white background-orange mb-3">
        <div class="card-header d-flex justify-content-between">
          <h4 class="hex-tertiary">This is a Blog Title</h4>
          <span class="card-date">
            <p class="card-date__day">23</p>
            <p class="card-date__month">Jul</p>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">
            All of a sudden cat goes crazy miaow then turn around and show you my bum purr as loud as possible,
            be the most
            annoying
            cat that you can, and, knock everything off the table freak human out make funny noise.
          </p>

          <a href="#" target="_blank" class="card-link text-end hex-white text-decoration-underline d-block">Read
            more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white background-orange mb-3">
        <div class="card-header d-flex justify-content-between">
          <h4 class="hex-tertiary">This is a Blog Title</h4>
          <span class="card-date">
            <p class="card-date__day">23</p>
            <p class="card-date__month">Jul</p>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">
            All of a sudden cat goes crazy miaow then turn around and show you my bum purr as loud as possible,
            be the most
            annoying
            cat that you can, and, knock everything off the table freak human out make funny noise.
          </p>

          <a href="#" target="_blank" class="card-link text-end hex-white text-decoration-underline d-block">Read
            more</a>
        </div>
      </div>
    </div>
  </div>
</div>