
</div> <!-- End of Main -->


<footer class="d-flex justify-content-center align-items-center flex-column pt-4 pb-4">
  <h6 class="footer-heading hex-white">Coded with love by Rap Esteva</h6>
  <div class="footer__bottom container__nowrap">
    <div class="footer-extras pt-20">
      <a href="#" class="footer-extras__link hex-white blurb1">Site info</a> <span
        class="footer-extra__seperator pr-10 pl-10">|</span>
      <a href="#" target="_blank" class="footer-extras__link hex-white blurb1">Alternate Profile</a>
    </div>
  </div>
</footer>


<!-- Row Menu Overlay -->
<div class="mobile-menu-overlay d-block d-md-none" id="menuOverlay">
  <a href="#" target="_blank" class="menu-close menu--disable hex-white" id="menuClose"><i
      class="fas fa-times-circle"></i></a>
  <ul class="mobile-menu-nav" id="menuNav">
    <li class="menu-item">
      <a href="{{site.baseurl}}/" class="menu-link hex-white">Home</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/bio" class="menu-link hex-white">Bio</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/blog" class="menu-link hex-white">Blog</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/lessons" class="menu-link hex-white">Lessons</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link hex-white">Developer Site</a>
    </li>
  </ul>
</div>
<!-- End Menu Overlay -->



</div>

<!-- Row Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
  integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"
  integrity="sha512-wK2NuxEyN/6s53M8G7c6cRUXvkeV8Uh5duYS06pAdLq4ukc72errSIyyGQGYtzWEzvVGzGSWg8l79e0VkTJYPw=="
  crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/app.js" defer></script>
</body>

</html>