<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <!-- Got this loop from the Pages Collection -->
  {% assign page_url = page.url | remove: 'index.html'%}
  {% assign seo = site.metas | where:"permalink", page_url | first %}

  <!-- Var Title -->
  {% if seo.title %}
    {% assign meta_title = seo.title %}
  {% else %}
    {% assign meta_title = page.title %}
  {% endif %}

  <!-- Var Description -->
  {% if seo.description %}
    {% assign meta_description = seo.description %}
  {% elsif page.is_post %} 
    {% assign meta_description = page.excerpt %}
  {% else %}
    {% assign meta_description = page.description %}
  {% endif %}

  <!-- Var Image -->
  {% if seo.image %}
    {% assign meta_image = seo.image %}
  {% else %}
    {% assign meta_image = page.image %}
  {% endif %}

  
  <!-- Var Image Size -->
  <!-- Note: Make sure to set is_post in the defaults under config.yml -->
  {% if page.is_post %}
    {% assign meta_image_width = '782' %}
    {% assign meta_image_height = '300' %}
  {% else %}
    {% assign meta_image_width = '1200' %}
    {% assign meta_image_height = '630' %}
  {% endif %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="{{ site.title }} - {{ meta_title }}">
  <meta name="description" content="{{ meta_description | strip_html}}">
  <meta name="author" content="{{site.title}}">
  
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html'}}" />
  <meta property="og:title" content="{{ site.title }} - {{ meta_title }}">
  <meta property="og:description" content="{{ meta_description | strip_html}}">
  
  <!-- Meta Image -->
  {% if meta_image %}
  <meta property="og:image" content="{{site.url}}{{ meta_image }}" />
  <meta property="og:image:secure_url" content="{{site.url}}{{ meta_image }}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="{{meta_image_width}}" />
  <meta property="og:image:height" content="{{meta_image_height}}" />
  <meta property="og:image:alt" content="{{ meta_description | strip_html}}" />
  {% endif %}

  <title>{{site.title}} - {{ meta_title }} | {{meta_description}} </title>

  <!-- Row Styles -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.min.css">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
</head>

<body>
  <div id="wrapper">
    <header class="d-flex align-items-center">
      <div class="container-lg">
        <div class="row">
          <!-- Logo here -->
          <div class="header__logo__container col d-flex align-items-center">
            <a href="{{site.baseurl}}/" class="header__logo-link" title="Home Page">
              <h3 class="hex-white">Rap Esteva</h3>
            </a>
          </div>

          <!-- Nav -->
          <nav class="col d-none d-md-block">
            <ul class="nav__list d-inline-flex justify-content-around align-self-center">
              <li class="nav__item {% if page_url == '/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/" class="nav__link" title="Home Page">Home</a></li>
              <li class="nav__item {% if page_url == '/bio/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/bio/" class="nav__link" title="Biography Page">Bio</a></li>
              <li class="nav__item {% if page_url == '/blog/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/blog/" class="nav__link" title="Blog Page">Blog</a></li>
              <li class="nav__item {% if page_url == '/lessons/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/lessons/" class="nav__link" title="Lessons Page">Lessons</a></li>
            </ul>
          </nav>

          <div class="header__social-media col d-flex align-items-center justify-content-end d-none d-md-flex">
            <ul class="social-media">
              {% for social in site.data.defaults.socials %}
              <li class="social-media__item">
                {% if social.isLocal %}
                <a href="{{site.baseurl}}{{ social.link }}" target="_blank" class="social-media__link" title="{{social.media}}">
                  {{social.icon}}
                </a>
                {% else %}
                <a href="{{ social.link }}" target="_blank" class="social-media__link" title="{{social.media}}">
                  {{social.icon}}
                </a>
                {% endif %}
                </li>
              {% endfor %}

            </ul>
          </div>

          <a href="#" target="_blank"
            class="menu__bento-link col d-flex justify-content-end align-items-center d-md-none" id="menuOpen" title="Bento Menu">
            <img src="{{site.baseurl}}/assets/files/bento-menu.svg" alt="Bento Menu" title="Bento Menu" class="menu-bento">
          </a>
        </div>
      </div>
    </header>
    <!-- Start of Main Content -->
    <div id="main">





    