<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <meta name="og:title" property="og:title" content="Rap Musikero">
  <meta name="description" content="Website for musician Rap Esteva">
  <meta property="og:image" content="#">
  <meta property="og:url" content="#">


  <title>Rap Esteva - Musician</title>

  <!-- Row Styles -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.min.css">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
</head>

<body>
  <div id="wrapper">
    <header class="d-flex align-items-center">
      <div class="container-lg">
        <div class="row">
          <!-- Logo here -->
          <div class="header__logo__container col d-flex align-items-center">
            <a href="{{site.baseurl}}/" class="header__logo-link">
              <h3 class="hex-white">Rap Esteva</h3>
            </a>
          </div>

          <!-- Nav -->
          <nav class="col d-none d-md-block">
            <ul class="nav__list d-inline-flex justify-content-around align-self-center">
              <li class="nav__item {% if page.url == '/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/" class="nav__link">Home</a></li>
              <li class="nav__item {% if page.url == '/bio/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/bio" class="nav__link">Bio</a></li>
              <li class="nav__item {% if page.url == '/blog/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/blog" class="nav__link">Blog</a></li>
              <li class="nav__item {% if page.url == '/lessons/' %} nav__item--active {% endif %}"><a href="{{site.baseurl}}/lessons" class="nav__link">Lessons</a></li>
            </ul>
          </nav>

          <div class="header__social-media col d-flex align-items-center justify-content-end d-none d-md-flex">
            <ul class="social-media">
              <li class="social-media__item">
                <a href="#" target="_blank" class="social-media__link">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="social-media__item">
                <a href="#" target="_blank" class="social-media__link">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="social-media__item">
                <a href="#" target="_blank" class="social-media__link">
                  <i class="fas fa-globe"></i>
                </a>
              </li>
              <li class="social-media__item">
                <a href="{{site.baseurl}}/contact" class="social-media__link">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>

          <a href="#" target="_blank"
            class="menu__bento-link col d-flex justify-content-end align-items-center d-md-none" id="menuOpen">
            <img src="{{site.baseurl}}/assets/files/bento-menu.svg" alt="Bento" title="Bento" class="menu-bento">
          </a>
        </div>
      </div>
    </header>
    <!-- Start of Main Content -->
    <div id="main">





    