---
layout: default
---


<div class="container blog-container mt-40">
  <h4 class="hex-tertiary"> Tag: {{page.name}} </h4>
  <a href="{{ site.baseurl }}/blog" class="hex-gray mt-20"><strong><i class="fas fa-arrow-left"></i> &nbsp; Back to
      Blog</strong></a>

</div>
<div class="container blog-container mt-20 mb-20">

  <ul class="list-group blog-list-group">
    {% for post in site.posts %}
      {% if post.tags contains page.name %}
      <li class="list-group-item background-primary">
        <a href="{{ post.url }}" class="hex-tertiary">{{ post.title }}</a>
        <br>
        <small>{{ post.date | date: '%B %-d, %Y'}}</small>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
{% include snippets/pagination.html %}