---
layout: default
---

<div class="container-xl blog-container mt-40 mb-40 px-4">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-xs-12 post-section">
      <div class="post-main">
        <img src="{{site.baseurl}}{{page.banner}}" alt="image" title="image" class="post-image">
        <div class="post-heading">
          <h1 class="post-title hex-tertiary text-center">{{ page.title }}</h1>
          <p class="post-details text-center">Published on {{ page.date | date: "%B %-d,  %Y" }} by
            <span class="post-authors">
              {% for author in page.authors %}
               <span class="author">{{author.name}}</span>
              {% endfor %}
            </span>
          </p>
          <p class="post-categories hex-white text-center"><strong>Categories:</strong>
            {% for category in page.categories %}
              <span class="post-category">{{category}}</span>
            {% endfor %}
          </p>
          <a href="{{ site.baseurl }}/blog" class="hex-tertiary"><strong><i class="fas fa-arrow-left"></i> &nbsp; Back to
              Blog</strong></a>
        </div>

        <p class="post-content">
         {{ page.description }}
        </p>


        {% for additional in page.additional %}
          <div class="post-content__additional">
            <img src="{{site.baseurl}}{{ additional.block.add-image }}" alt="Image" title="Image" class="post-content__additional-image">
            <p class="post-content__additional-text">
              {{ additional.block.add-content }}
            </p>
          </div>

        {% endfor %}

       

        <a href="{{ site.baseurl }}/blog" class="hex-tertiary mb-20"><strong><i class="fas fa-arrow-left"></i> &nbsp; Back to Blog</strong></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-12">
      <div class="post-sidebar background-primary">
        <form class="post-form">
          <input type="text" class="post-search" placeholder="Search for a post ...">
          <button type="submit" class="post-search__btn background-accent hex-white">
            <i class="fas fa-search post-search__icon"></i>
          </button>
        </form>

        <div class="post-others">
          <div class="sidebar-categories__container mt-40">
            <h5 class="sidebar-title hex-white"> Categories:</h5>
            <ul class="sidebar-categories__list">
              <li class="sidebar-category">
                <a href="#" target="_blank" class="sidebar-category__link">Music</a>
              </li>
              <li class="sidebar-category">
                <a href="#" target="_blank" class="sidebar-category__link">Music</a>
              </li>
              <li class="sidebar-category">
                <a href="#" target="_blank" class="sidebar-category__link">Music</a>
              </li>
              <li class="sidebar-category">
                <a href="#" target="_blank" class="sidebar-category__link">Music</a>
              </li>
              <li class="sidebar-category">
                <a href="#" target="_blank" class="sidebar-category__link">Music</a>
              </li>
            </ul>
          </div>

          <div class="recent-posts__container mt-40">
            <h5 class="sidebar-title hex-white"> Recent Posts:</h5>
            <ul class="sidebar-posts__list">
              <li class="sidebar-post">
                <a href="#" target="_blank" class="sidebar-post__link">This is a very very long title</a>
              </li>
              <li class="sidebar-post">
                <a href="#" target="_blank" class="sidebar-post__link">This is a very very long title</a>
              </li>
              <li class="sidebar-post">
                <a href="#" target="_blank" class="sidebar-post__link">This is a very very long title</a>
              </li>
              <li class="sidebar-post">
                <a href="#" target="_blank" class="sidebar-post__link">This is a very very long title</a>
              </li>
              <li class="sidebar-post">
                <a href="#" target="_blank" class="sidebar-post__link">This is a very very long title</a>
              </li>
            </ul>
          </div>
        </div>

        <a href="{{ site.baseurl }}/contact" target="_blank" class="btn cbtn-tertiary btn-sidebar">Contact Me</a>
      </div>
    </div>
  </div>
</div>