<div class="container blog-container">
  <h1 class="text-center hex-tertiary mt-30">Blogs</h1>
  <p class="text-center ml-20 mr-20">
    From mundane to significant topics, you are welcome to explore my innermost thoughts and feelings. Feel free to
    discover
    the chronicles of my personal aspects foretold in this blog page of mine.
  </p>
</div>

<!-- Row Categories -->
<div class="container blog-container mt-30">
  <div class="blog-categories__container row background-primary">
    <div class="col-md-6">
      <h4 class="hex-white pl-20">Categories:</h4>
      <ul class="category-list d-flex justify-content-around flex-wrap mt-20">
        <li class="category-item category-item--active"><a href="#" target="_blank" class="category-link">All</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Music</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Genres</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Gigs</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Family</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Love</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Instruments</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Personal</a></li>
        <li class="category-item"><a href="#" target="_blank" class="category-link">Practice</a></li>
      </ul>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <form class="custom-form">
        <input type="text" class="custom-search" placeholder="Search for a post ...">
        <button type="submit" class="custom-search__btn background-accent hex-white">
          <i class="fas fa-search custom-search__icon"></i>
        </button>
      </form>
    </div>
  </div>
  <p class="blog-results mt-20 ml-30">10 results found</p>
</div>